/*button */
.grid_size-btn {
    margin: auto;
}

/*main*/
.main-container {
    width: 800px;
    margin: auto;
}

.item_row {
    display: flex;
}

.item {
    flex: 1;
    height: 50px;
    outline: black solid 1px;
}

.color {
    background-color: blueviolet;
}
