/*button */
.grid-size-btn {
    margin: auto;
}

/*main*/
.main-container {
    margin: auto;
    max-width: 800px;
}

.item_row {
    display: flex;
    justify-content: center;
}

.item {
    flex: 1 1 auto;
    outline: black solid 1px;
}
